{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "extends": [
    "finn",
    "finn/node",
    "finn-prettier"
  ],
  "env": {
    "node": true,
    "jest": true
  }
}
