{
  "root": true,
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "rules": {
    "strict": [0, "global"],
    "class-methods-use-this": [0]
  }
}
